:root {
  --col:#242621; /* main color: gray */
  --bg:#222222;  /* bg black */
  --blue:#1c68fb;
}

body{
  background: rgb(75,75,75);
  background: linear-gradient(90deg, rgba(75,75,75,1) 0%, rgba(34,34,34,1) 25%, rgba(34,34,34,1) 50%, rgba(34,34,34,1) 75%, rgba(75,75,75,1) 100%);
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
}


.ubi{
  background: rgb(212,212,212);
  background: radial-gradient(circle, rgba(212,212,212,1) 0%, rgba(36,38,33,1) 100%);
  border-bottom: 5px;
  border-bottom: solid;
  border-color: var(--bg);
  height: 50px;
}
.ubi img{
  margin: auto;
  padding-top: 5px;
  display: flex;
}

header{
  position: sticky;
  top: -55px;
  height: 200px;
  z-index: 1;
}




.header{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 28%, rgba(57,57,57,1) 59%, rgba(190,190,190,1) 100%);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  height: 150px;
  position: sticky;
  top: 0;
  z-index: 1;
}

header img{
  width: 6%;
  height: auto;
}

h1{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 150%;
}

h1 img{
  width: 40%;
  height: auto;
}

nav img{
  width: 50px;
  height: 50px;
  padding: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content:center;
}

.menu li {
  float: left;
}

.menu ul li a:hover:after{
  transform: scaleX(1);
}

.menu ul li a:after{
  transition: 0.25s ease;
  content: "";
  display: block;
  height: 2px;
  background-color: white;
  transform: scalex(0);
  margin-bottom: 1px;
}

.menu ul ul li a {
 display:block;
 width:auto;
 color: white;
 text-decoration:none;
 padding:30px 60px;
 font-family: "Bebas Neue", sans-serif;
 font-size: 150%;
}

.menu ul ul li{
  background: var(--bg);
}

.menu ul ul li a:hover {
  background: rgb(28,104,251);
  background: linear-gradient(0deg, rgba(28,104,251,1) 0%, rgba(73,73,73,1) 43%);
  color:white;
}

.menu ul li ul {
  display:none;
}

.menu ul li:hover ul {
  display:block;
}

.menu li:hover ul li {
  float:none;
}

.menu li ul {
  position:absolute;
}

.menu ul ul{
  border: 5px;
  border: solid;
  border-color: white;
}





.intro{
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: justify;
  justify-content: space-between;
  margin: 0;
  margin-top: 150px;
}

.intro hr{
  width: 1200px;
}

.intro h2{
  color: #D4D4D4;
  border: 1px;
  border: solid;
  border-color: var(--blue);
  padding: 5px;
  font-size: 300%;
}

.intro p{
  width: 1180px;
  font-size: 120%;
  background: rgb(28,104,251);
  background: linear-gradient(0deg, rgba(28,104,251,1) 0%, rgba(212,212,212,1) 100%);
  color: var(--col);
  padding: 10px;
  line-height: 130%;
}

.first-inter-part{
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 1200px;
  height: 675px;
}

.set-img {
  width: 100%;
  height: 675px;
  margin: 0;
}

.diapo_auto_rwd img{
  width:100%;
  height: 100%;
  margin: 0;
}

.diapo_auto_rwd{
  position:relative;
  margin:0;
  overflow:hidden;
}

.diapo_auto_rwd ul {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.diapo_auto_rwd ul .slide_diapo {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: slide-diapo 10s infinite;
}

ul .slide_diapo.image1{
  left: 0;
}

ul .slide_diapo.image2{
  left: 100%;
}

ul .slide_diapo.image3{
  left: 200%;
}

@keyframes slide-diapo {
  0%,25%{margin-left: 0;}
  33%,58%{margin-left: -100%;}
  66%,91%{margin-left: -200%;}
}

.diapo_auto_rwd img{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}






footer{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 28%, rgba(57,57,57,1) 59%, rgba(190,190,190,1) 100%);
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
}

footer hr{
  border-left: 6px solid white;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}

h3{
  border: 1px;
  border: solid;
  border-color: var(--blue);
  padding: 5px;
  font-size: 300%;
  width: 250px;
  margin: auto;
  margin-top: 20px;
}

h4{
  border: 1px;
  border: solid;
  border-color: var(--blue);
  padding: 5px;
  font-size: 130%;
  letter-spacing: 2px;
}

.container_footer{
  display: flex;
  justify-content: space-around;
}

.container_all{
  display: flex;
  letter-spacing: 2px;
  font-size: 120%;
}

.links img{
  width: 30px;
  height: 30px;
}

.container_links{
  display: flex;
  list-style-type: none;
}

.hugo{
  width: 300px;
}
.hugo ul{
  padding: 0;
}
.hugo li{
  margin: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.aleksi{
  width: 300px;
}
.aleksi ul{
  padding: 0;
}
.aleksi li{
  margin: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.jeremy{
  width: 300px;
}
.jeremy ul{
  padding: 0;
}
.jeremy li{
  margin: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

footer form{
  margin-top: 20px;
  margin-bottom: auto;
  letter-spacing: 2px;
}

footer form input{
  margin-bottom: 20px;
}

#submit{
  background-color: var(--blue);
  width: 100px;
  height: 50px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 120%;
  letter-spacing: 2px;
}

.copyright{
  display: flex;
  letter-spacing: 2px;
  align-items: center;
  margin-top: 50px;
}

.copyright img{
  width: 60px;
  height: 60px;
}
