:root {
  --gray:#D4D4D4; /* lightgray */
  --bg:#222222;  /* bg black */
  --blue:#1c68fb; /* blue in the website */
}

html{
  scroll-behavior: smooth;
}

body{
  background-image: url("images/background.jpg");
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
}


.ubi{
  background: radial-gradient(circle, rgba(212,212,212,1) 0%, rgba(36,38,33,1) 100%);
  border-bottom: solid;
  border-color: var(--bg);
  height: 50px;
}
.ubi img{
  margin: auto;
  padding-top: 5px;
  display: flex;
}

header{
  position: sticky;
  top: -55px;
  height: 200px;
  z-index: 5;
}




.header{
  /* background: linear-gradient(0deg, rgba(0,0,0,1) 28%, rgba(57,57,57,1) 59%, rgba(190,190,190,1) 100%); */
  background: linear-gradient(0deg, rgba(34,34,34,1) 29%, rgba(117,117,117,1) 100%);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  height: 150px;
  position: sticky;
  top: 0;
  z-index: 1;
}

header img{
  width: 6%;
  height: auto;
}

h1{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 150%;
}

h1 img{
  width: 100%;
  height: auto;
}

nav img{
  width: 50px;
  height: 50px;
  padding: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content:center;
}

.menu li {
  float: left;
}

.menu ul li a:hover:after{
  transform: scaleX(1);
}

.menu ul li a:after{
  transition: 0.25s ease;
  content: "";
  display: block;
  height: 2px;
  background-color: white;
  transform: scalex(0);
  margin-bottom: 1px;
}

.menu ul ul li a {
 display:block;
 width:auto;
 color: white;
 text-decoration:none;
 padding:30px 60px;
 font-size: 150%;
}

.menu ul ul li{
  background: var(--bg);
}

.menu ul ul li a:hover {
  background: rgb(28,104,251);
  background: linear-gradient(0deg, rgba(28,104,251,1) 0%, rgba(73,73,73,1) 43%);
  color:white;
}

.menu ul li ul {
  display:none;
}

.menu ul li:hover ul {
  display:block;
}

.menu li:hover ul li {
  float:none;
}

.menu li ul {
  position:absolute;
}

.menu ul ul{
  border: 5px;
  border: solid;
  border-color: white;
}





.intro{
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: justify;
  justify-content: space-between;
  margin: 0;
  margin-top: 150px;
}

.intro hr{
  width: 1200px;
}

.intro h2{
  color: var(--gray);
  border: solid;
  border-color: var(--blue);
  padding: 5px;
  font-size: 300%;
}

.intro p{
  width: 1180px;
  font-size: 120%;
  background: linear-gradient(0deg, rgba(28,104,251,0.6) 0%, rgba(67,92,140,0.6) 100%);
  color: var(--gray);
  padding: 10px;
  line-height: 130%;
}

.first-inter-part{
  margin: auto;
  margin-top: 30px;
  width: 1200px;
  height: 675px;
}

.set-img {
  width: 100%;
  height: 675px;
  margin: 0;
}

.diapo_auto_rwd img{
  width:100%;
  height: 100%;
  margin: 0;
}

.diapo_auto_rwd{
  position:relative;
  margin:0;
  overflow:hidden;
}

.diapo_auto_rwd ul {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.diapo_auto_rwd ul .slide_diapo {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: slide-diapo 10s infinite;
}

ul .slide_diapo.image1{
  left: 0;
}

ul .slide_diapo.image2{
  left: 100%;
}

ul .slide_diapo.image3{
  left: 200%;
}

@keyframes slide-diapo {
  0%,25%{margin-left: 0;}
  33%,58%{margin-left: -100%;}
  66%,91%{margin-left: -200%;}
}

.diapo_auto_rwd img{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}






.rules h2{
  color: var(--gray);
  border: solid;
  border-color: var(--blue);
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  width: 300px;
  padding: 5px;
  font-size: 400%;
}

.rules h3{
  color: var(--blue);
  text-align:center;
  font-size: 35px;
  margin: 0;
}

.two_team p{
  color: var(--gray);
  text-align: center;
  width: 460px;
  font-size: 25px;
  text-shadow: 0px 0px 3px #000000;
}

.rules{
  margin-top: 100px;
}

.rules img{
  width: 460px;
  height: 260px;
}

.rules_title{
  width:1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;;
  padding-bottom: 1%;
}

.two_team{
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  margin-top: 0;
}

.attakers h3{
  width: 460px;
  color: black;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: radial-gradient(circle, rgba(246,36,37,1) 0%, rgba(152,0,1,1) 100%);
}

.rules hr{
  width: 3px;
  height: 800px;
  margin: 0;
  margin-bottom: 150px;
  background-color: var(--gray);
}

.defenders h3{
  width: 460px;
  color:black;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: radial-gradient(circle, rgba(8,117,202,1) 0%, rgba(0,75,133,0.5) 100%);
}

.video_trailer{
  display: flex;
  justify-content: center;
  width:1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}






.inter-part h2{
  color: var(--gray);
  border: solid;
  border-color: var(--blue);
  padding: 5px;
  font-size: 300%;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 180px;
}

.profil{
  width: 160px;
  height: 200px;
}

.diapo_character{
  position:relative;
  margin: 0 auto;
  background-color: grey;
  max-width:800px;
  height: 200px;
  overflow:hidden;
  transition:2s;
}

.inter-part:focus-within .diapo_character{
  height: 700px;
  transition:2s;
}

.diapo_character input[type=radio]{
	position: absolute;
	left: -9999px;
}

.diapo_character label{
	cursor:pointer;
}

.diapo_character ul{
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.diapo_character ul li{
  height: 700px;
}

.diapo_character ul .slide_diapo {
  height: 600px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .8s;
}

/*slide images, on place les photos cote a cote*/

ul .slide_diapo.image1{
	left: 0;
}
ul .slide_diapo.image2{
	left: 100%;
}
ul .slide_diapo.image3{
	left: 200%;
}
ul .slide_diapo.image4{
	left: 300%;
}

#slide1:checked ~ ul .slide_diapo{
  transform: translatex(0);
}

#slide2:checked ~ ul .slide_diapo{
  transform: translatex(-100%);
}

#slide3:checked ~ ul .slide_diapo{
  transform: translatex(-200%);
}

#slide4:checked ~ ul .slide_diapo{
  transform: translatex(-300%);
}

/*navigation fleches droite et gauche*/
.precedent, .suivant{
  position: absolute;
  top: 100px;
  z-index: 1;
	}

.precedent label, .suivant label{
  position: absolute;
  opacity: 0;
  z-index: -1;
  height: 50px;
  width: 0;
  transform: translate(0,-50%);
}

.precedent{
	left: 0;
}

.suivant{
	right:50px;
}

.precedent label:before{
	content:"\3c";
	}
.suivant label:before{
	content:"\3e";
}

  /* "3e" and "3c" are unicode*/

.precedent label:before, .suivant label:before{
  position: absolute;
  font-family: "bric-a-brac";
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  background: hsla(0,0%,0%,.3);
  color: white;
}

.precedent:hover label:before, .suivant:hover label:before{
  background: hsla(0,0%,0%,.8);
}

#slide1:checked ~ .precedent .image4,
#slide1:checked ~ .suivant .image2,

#slide2:checked ~ .precedent .image1,
#slide2:checked ~ .suivant .image3,

#slide3:checked ~ .precedent .image2,
#slide3:checked ~ .suivant .image4,

#slide4:checked ~ .precedent .image3,
#slide4:checked ~ .suivant .image1
{
	opacity: 1;
  z-index: 1;
}




#lance-diapo:checked ~ .precedent .image4,
#lance-diapo:checked ~ .suivant .image2
{
  animation: fleche_diapo 12.3s infinite -1s;
}

#lance-diapo:checked ~ .precedent .image1,
#lance-diapo:checked ~ .suivant .image3
{
  animation: fleche_diapo 12.3s infinite 3.1s;
}

#lance-diapo:checked ~ .precedent .image2,
#lance-diapo:checked ~ .suivant .image4
{
  animation: fleche_diapo 12.3s infinite 7.2s;
}

#lance-diapo:checked ~ .precedent .image3,
#lance-diapo:checked ~ .suivant .image1
{
  animation: fleche_diapo 12.3s infinite 11.3;
}

.slider_focus{
  max-width: 800px;
  margin: 0 auto;
  background-image: url("images/background.jpg");
}

.slider_focus ul{
  display: flex;
  padding:0;
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  list-style-type: none;
  margin:0;
}

.slider_focus ul li{
  z-index: 1;
  width: 160px;
  height: 200px;
  overflow: hidden;
}

.slider_focus ul li div.background{
  position: absolute;
  width: 100%;
  height: 600px;
  z-index: 0;
  left: 0;
  top:100%;
  padding: 0;
  opacity: 0;
  transition: all .6s;
  background-repeat: no-repeat;
}

.slider_focus ul li:focus-within div{
  top: 200px;
  opacity: 1;
}

div .texte_perso{
  width: 250px;
  height: 100%;
  margin-right: 0;
  margin-left: auto;
  margin-top:0;
  background-color: rgb(36, 38, 41);
}

.img_name{
  display: flex;
  align-items: center;
  width: 100%;
}

.name{
  font-size: 30px;
}

.description{
  font-size: 18px;
  margin: 10px;
  color: white;
}

.special{
  background-color: rgb(66,68,72);
  width: 10%;
  height:10%;
}

.logo{
  width: 105px;
  height: 105px;
}

.background{
  width: 600px;
  height: 700px;
}

.osa{
  background-image: url("images/background_agents/r6s-operator-osa.png");
}
.thunderbird{
  background-image: url("images/background_agents/r6s-operator-thunderbird.png");
}
.flores{
  background-image: url("images/background_agents/r6s-operator-flores.png");
}
.aruni{
  background-image: url("images/background_agents/r6s-operator-aruni.png");
}
.zero{
  background-image: url("images/background_agents/r6s-operator-zero.png");
}
.ace{
  background-image: url("images/background_agents/r6-operator-ace.png");
}
.melusi{
  background-image: url("images/background_agents/r6s-operator-melusi.png");
}
.oryx{
  background-image: url("images/background_agents/r6s-operator-oryx.png");
}
.iana{
  background-image: url("images/background_agents/r6s-operator-iana.png");
}
.wamai{
  background-image: url("images/background_agents/r6-operator-wamai.png");
}
.kali{
  background-image: url("images/background_agents/r6-operator-kali.png");
}
.amaru{
  background-image: url("images/background_agents/R6-operator-amaru.png");
}
.goyo{
  background-image: url("images/background_agents/R6-operator-goyo.png");
}
.nokk{
  background-image: url("images/background_agents/R6-operator-nokk.png");
}
.warden{
  background-image: url("images/background_agents/R6-operator-warden.png");
}

@keyframes fleche_diapo {
  0%,33.33%{
    opacity: 1;
    z-index: 0;
  }
  33.34%,100%{
    opacity: 0;
    z-index: -1;
  }
}

.sorry{
  align-items: center;
  color: var(--gray);
  font-size: 35px;
}

.map{
  width: 800px;
  height: 88px;
  margin: 0 auto;
  transition: 0.5s;
}

.map:focus-within{
    height: 538px;
    transition: 0.5s;
}

.map ul{
  display: flex;
  padding:0;
  width: 800px;
  height: 538px;
  position: relative;
  overflow: hidden;
  list-style-type: none;
  margin:0;
}

.map ul li{
  z-index: 1;
  width: 200px;
  height: 88px;
  overflow: hidden;
}

.map ul li div.background-map{
  position: absolute;
  width:800px;
  height: 600px;
  z-index: 0;
  left: 0;
  top:100%;
  padding: 0;
  opacity: 0;
  transition: all .6s;
  background-repeat: no-repeat;
}

.map ul li:focus-within div {
  top: 87px;
  opacity: 1;
}

.map-bank{
  background-image: url("images/map/bank.jpg");
}
.map-border{
  background-image: url("images/map/border.jpg");
}
.map-chalet{
  background-image: url("images/map/chalet.jpg");
}
.map-clubhouse{
  background-image: url("images/map/clubhouse.jpg");
}
.map-coastline{
  background-image: url("images/map/coastline.jpg");
}
.map-consulate{
  background-image: url("images/map/consulate.jpg");
}
.map-favela{
  background-image: url("images/map/favela.jpg");
}
.map-fortress{
  background-image: url("images/map/fortress.jpg");
}





.r6_season{
  margin-top: 100px;
  height: 920px;
  background-image: url("images/bg_r6_season.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.r6_season h2{
  color: var(--gray);
  border: solid;
  border-color: var(--blue);
  padding: 5px;
  font-size: 300%;
  text-align: center;
  margin-top: 70px;
}

.r6_season h3{
  width: 500px;
  padding: 5px;
  color: var(--gray);
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  font-size: 35px;
  margin: 0;
}

.r6_season h4{
  padding: 5px;
  color: var(--gray);
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  font-size: 35px;
  margin: 0;
}

.img_season{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 70px;
}

.line_season{
  display: flex;
  padding-top: 20px;
}

.img_season img{
  width: 380px;
  height: 214px;
  padding: 10px;
  padding-top: 0;
}





footer{
  margin-top: 100px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
}

footer hr{
  border-left: 6px solid white;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}

footer h3{
  border: solid;
  border-color: var(--blue);
  padding: 5px;
  font-size: 300%;
  width: 250px;
  margin: auto;
  margin-top: 20px;
}

footer h4{
  border: solid;
  border-color: var(--blue);
  padding: 5px;
  font-size: 130%;
  letter-spacing: 2px;
}

.container_footer{
  display: flex;
  justify-content: space-around;
}

.container_all{
  display: flex;
  letter-spacing: 2px;
  font-size: 120%;
}

.links img{
  width: 30px;
  height: 30px;
}

.container_links{
  display: flex;
  list-style-type: none;
}

.hugo{
  width: 300px;
}
.hugo ul{
  padding: 0;
}
.hugo li{
  margin: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.aleksi{
  width: 300px;
}
.aleksi ul{
  padding: 0;
}
.aleksi li{
  margin: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.jeremy{
  width: 300px;
}
.jeremy ul{
  padding: 0;
}
.jeremy li{
  margin: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

footer form{
  margin-top: 20px;
  margin-bottom: auto;
  letter-spacing: 2px;
}

footer form input{
  margin-bottom: 20px;
}

#submit{
  background-color: var(--blue);
  width: 100px;
  height: 50px;
  font-size: 120%;
  letter-spacing: 2px;
}

.copyright{
  display: flex;
  letter-spacing: 2px;
  align-items: center;
  margin-top: 50px;
}

.copyright img{
  width: 60px;
  height: 60px;
}
